name: CI/CD Pipeline
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/sidenigma/kubernetes-cicd-tutorial:latest
            ghcr.io/sidenigma/kubernetes-cicd-tutorial:${{ github.sha }}
      - name: Update GitOps repository
        shell: pwsh
        env:
          GIT_TOKEN: ${{ secrets.GITOPS_PAT }}
        run: |
          # Configure git credential store
          git config --global credential.helper store
          echo "https://$env:GIT_TOKEN:x-oauth-basic@github.com" > $env:USERPROFILE\.git-credentials
          
          # Remove any existing gitops directory
          if (Test-Path gitops) { Remove-Item -Recurse -Force gitops }
          
          # Clone repository
          git clone https://github.com/sidenigma/grade-api-gitops.git gitops
          cd gitops
          Get-Content deployment.yaml
          
          $repoLower = "${{ github.repository }}".ToLower()
          (Get-Content deployment.yaml) -replace 'image: ghcr.io/.*:.*', "image: ghcr.io/$repoLower:${{ github.sha }}" | Set-Content deployment.yaml
          
          Get-Content deployment.yaml
          
          # Commit changes
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add deployment.yaml
          git commit -m "Update image to ${{ github.sha }}"
          
          # Push
          git push -f https://$env:GIT_TOKEN@github.com/sidenigma/grade-api-gitops.git main
